---
layout: default 
title: The Yoga Studio
banner:
 image: /images/the-yoga-studio-1.jpg
 small_heading: Welcome to
 heading: The Yoga Studio
image_right:
 heading: Duis Autre Irure
 description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo hic cumque delectus voluptates animi ducimus atque excepturi. Fugiat facilis tempora veniam consequatur, nobis dolor. Nemo repellat id expedita ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laudantium autem, itaque accusamus quis, optio nostrum eos pariatur eveniet molestias aspernatur neque, aut tenetur temporibus iure amet placeat voluptates suscipit!
 button_text: Sign up
 button_url: "/schedule"
 image: /images/the-yoga-studio-2.jpg
 image_focus: center 25%
image_left:
 heading: Our Classes
 description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo hic cumque delectus voluptates animi ducimus atque excepturi. Fugiat facilis tempora veniam consequatur, nobis dolor. Nemo repellat id expedita ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laudantium autem, itaque accusamus quis, optio nostrum eos pariatur eveniet molestias aspernatur neque, aut tenetur temporibus iure amet placeat voluptates suscipit!
 button_text: Find out more
 button_url: "/classes"
 image: /images/the-yoga-studio-3.jpg
 image_focus: center 25%
testimonial_section:
 heading: Testimonials
 testimonials:
 - name: Duis aute
   description: Mollit sit sunt nulla ut cupidatat cillum proident nisi ut aute aliqua labore nostrud proident.
   image: /images/the-yoga-studio-4.jpg
 - name: Duis aute
   description: Mollit sit sunt nulla ut cupidatat cillum proident nisi ut aute aliqua labore nostrud proident.
   image: /images/the-yoga-studio-5.jpg
 - name: Duis aute
   description: Mollit sit sunt nulla ut cupidatat cillum proident nisi ut aute aliqua labore nostrud proident.
   image: /images/the-yoga-studio-6.jpg
seo: 
 title: The Yoga Studio for Ashtanga Yoga in the heart of London
 description: 
 keywords: 
 social_image: 
 hide-from-google: false
---
<!--  Banner Section -->
<section>
    {% include banner-full.html %}
</section>

<!-- Sign Up Section -->
<section>
    {% include right-image-text-split.html %}
</section>

<!-- Our Classes Section -->
<section>
    {% include left-image-text-split.html %}
</section>

<!-- Testimonial Section -->
<section>
  {% include testimonials.html %}
</section>