---
layout: default 
title: The Yoga Studio
banner:
 image: https://placekitten.com/900/600
 small_heading: Welcome to
 heading: The Yoga Studio
image_right:
 heading: Duis Autre Irure
 description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo hic cumque delectus voluptates animi ducimus atque excepturi. Fugiat facilis tempora veniam consequatur, nobis dolor. Nemo repellat id expedita ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laudantium autem, itaque accusamus quis, optio nostrum eos pariatur eveniet molestias aspernatur neque, aut tenetur temporibus iure amet placeat voluptates suscipit!
 button_text: Sign up
 button_url: "#"
 image: https://placekitten.com/900/600
image_left:
 heading: Duis Autre Irure
 description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo hic cumque delectus voluptates animi ducimus atque excepturi. Fugiat facilis tempora veniam consequatur, nobis dolor. Nemo repellat id expedita ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laudantium autem, itaque accusamus quis, optio nostrum eos pariatur eveniet molestias aspernatur neque, aut tenetur temporibus iure amet placeat voluptates suscipit!
 button_text: Sign up
 button_url: "#"
 image: https://placekitten.com/900/600
seo: 
 title: The Yoga Studio for Ashtanga Yoga in the heart of London
 description: 
 keywords: 
 social_image: 
 hide-from-google: false
---
<!--  Banner Section -->
<section>
    {% include banner-full.html %}
</section>

<!-- Sign Up Section -->
<section>
    {% include right-image-text-split.html %}
</section>

<!-- Our Classes Section -->
<section>
    {% include left-image-text-split.html %}
</section>