---
layout: default
title: The Yoga Studio
banner:
   image: /images/the-yoga-studio-1.jpg
   small_heading: Welcome to
   heading: The Yoga Studio
image_right:
   heading: The journey to holistic well-being begins
   description: >-
      Our tranquil space offers a sanctuary for all seekers of balance,
      mindfulness, and self-discovery. Whether you're a seasoned yogi or just
      starting your practice, our experienced instructors and diverse classes
      will guide you on a path to inner peace and physical vitality. Join us on
      the mat to nurture your body, soothe your mind, and embrace the
      transformative power of yoga.
   button_text: Sign up
   button_url: /schedule
   image: /images/the-yoga-studio-2.jpg
   image_focus: center 25%
image_left:
   heading: Our Classes
   description: >-
      Yoga is more than just physical exercise; it's a holistic approach to
      wellness. Experience improved physical health, mental clarity, and a
      greater sense of peace and purpose in your life.


      No matter where you are on your yoga journey, we are here to support you.
      Join us on the mat and let the transformative power of yoga enrich your
      life. Explore our class schedule and start your wellness journey today.
   button_text: Find out more
   button_url: /classes
   image: /images/the-yoga-studio-3.jpg
   image_focus: center 25%
testimonial_section:
   heading: Testimonials
   testimonials:
      -
         name: Sarah
         description: >-
            Joining The Yoga Studio was the best decision I've made for my
            well-being. As a beginner, I felt welcomed and encouraged every step
            of the way. 
         image: /images/the-yoga-studio-4.jpg
      -
         name: Emily
         description: >-
            I've practiced yoga for over a decade, and The Yoga Studio is truly
            exceptional. The experienced instructors here have deepened my
            practice and helped me refine my techniques. 
         image: /images/the-yoga-studio-5.jpg
      -
         name: Sophie
         description: >-
            Life can get overwhelming, but The Yoga Studio has been my
            sanctuary. The calming atmosphere and stress relief classes have
            been a game-changer for me.
         image: /images/the-yoga-studio-6.jpg
seo:
   title: The Yoga Studio for Ashtanga Yoga in the heart of London
   description:
   keywords:
   social_image:
   hide-from-google: false
---
<!--  Banner Section -->
<section>
    {% include banner-full.html %}
</section>

<!-- Sign Up Section -->
<section>
    {% include right-image-text-split.html %}
</section>

<!-- Our Classes Section -->
<section>
    {% include left-image-text-split.html %}
</section>

<!-- Testimonial Section -->
<section>
  {% include testimonials.html %}
</section>