<section class="p-10p">

        <form class="col-start-2 center">
            <label class="text-pumpkin uppercase" for="name"> Name </label>
            <input class="bg-transparent border-t border-pumpkin outline-white" type="text" id="name" name="name">
    
            <label class="text-pumpkin uppercase" for="email"> Email </label>
            <input class="bg-transparent border-t border-pumpkin outline-white" type="email" id="email" name="email">
    
            <label class="text-pumpkin uppercase" for="message"> Message </label>
            <textarea class="bg-transparent border border-pumpkin outline-white" id="message" name="message"></textarea>
    
            <div><button type="submit" class="button bg-pumpkin text-white hover:text-pumpkin hover:bg-white border border-pumpkin"> Send </button></div>
        </form>

</section>