<footer class="bg-pumpkin text-white">
    <nav class="p-5p grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-8">
        <!-- Footer Menu -->
        <div> 
            <a class="uppercase font-serif text-xl" href="/classes"> Our Classes </a> 
            <p class="mt-6"> Bikram Hot <br> Chakra Flow <br> Mandala Yoga <br> Vinyasa Flow </p>
        </div>
        <div> 
            <a class="uppercase font-serif text-xl" href="/schedule"> Schedule </a> 
            <p class="mt-6"> Lorem ipsum dolor sit amet consectetur adipisicing </p>
        </div>
        <div> 
            <a class="uppercase font-serif text-xl" href="/contact"> Contact </a> 
            <p class="mt-6"> Lorem ipsum dolor sit amet consectetur adipisicing </p>
        </div>

        <!-- Footer Subscribe -->

        <form class="col-span-2 grid md:text-right gap-6">
            <label for="email" class="uppercase font-serif text-xl"> Subscribe to our newsletter </label>
            <input type="email" id="email" name="email" class="max-w-sm w-full md:ml-auto bg-transparent border border-white p-2 outline-white">
            <div><button type="submit" class="button bg-white text-pumpkin hover:text-white hover:bg-pumpkin border border-white"> Subscribe </button></div>
        </form>
    </nav>
    <div class="p-5p"> 
        <a href="/"> Terms of use </a>
    </div>
</footer>