<footer>
    <a href="/"> The Yoga Studio </a>
    <nav>
        <!-- Footer Menu -->
        <div> 
            <a href="/"> Our Classes </a> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit Fugiat pariatur ex incididunt mollit eu esse sit sint labore duis enim </p>
        </div>
        <div> 
            <a href="/"> Schedule </a> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit Fugiat pariatur ex incididunt mollit eu esse sit sint labore duis enim </p>
        </div>
        <div> 
            <a href="/"> Contact </a> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit Fugiat pariatur ex incididunt mollit eu esse sit sint labore duis enim </p>
        </div>

        <!-- Footer Subscribe -->

        <form>
            <label for="email"> Subscribe to our newsletter </label>
            <input type="email" id="email">
            <button type="submit"> Subscribe </button>
        </form>
    </nav>
    <div> 
        <a href="/"> Terms of use </a>
    </div>
</footer>