<section class="grid sm:grid-cols-2 sm:min-h-80">

    <!-- second option: flex flex-col justify-end  -->

    <div class="px-10p py-20 self-end">
        <h2> {{page.image_right.heading}} </h2>
        <p class="font-sans-serif text-sm leading-[150%] mb-8"> {{page.image_right.description}} </p>
        <a class="button" href="{{page.image_right.button_url}}">{{page.image_right.button_text}}</a>
    </div>
    <div class="bg-image min-h-50" style="background-position: {{page.image_right.image_focus | default: 'center' }}; background-image: url('{{page.image_right.image}}')"></div>
</section>